.tray-item {
  min-height: 30px;
  max-width:150px;
  color: black;
  font-family: Helvetica, Arial;
  padding: 10px;
  margin: 0px 10px;
  border: solid 1px #5a5a5a;
  border-bottom: solid 3px #242424;
  margin-bottom: 2px;
  cursor: pointer;
}